{% extends "layout/base.j2" %}

{% block scripts %}
<script src="{{ static('js/guild_settings.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div id="content-container" class="container mt-3">

    <div class="row">
        <div class="col">
            <img class="text-center rounded mx-auto d-block" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" alt="The guild icon for {{ guild.name }}" />
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col">
            <h1 class="text-center">{{ guild.name }}</h1>
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col">
            <form>
                <button class="btn btn-primary w-100" type="submit" formaction="/guilds/responses/{{ guild.id }}" formmethod="get">
                    Customise Responses
                </button>
            </form>
        </div> <!-- col -->
    </div> <!-- row -->

</div>
{% endblock content%}
