{% extends "layout/base.j2" %}

{% block content %}
<div class="jumbotron">
    <h1 class="text-center">Welcome to Syngery!</h1>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p>Syngery is a top-of-the-line Discord bot for handling interactions with users! Like some other bots, you're able to <code>!hug</code> your friends, but with Synergy you're able to add your own custom commands, reactions, and responses as you please!</p>
            <p>Syngery also features a marketplace, so if you aren't feeling up to writing your own reactions, then you can look at the things that other people have put, and import them to your own server with just one click!</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/guilds" class="btn btn-primary">Click here to get started</a>
        </div>
    </div>
<div>
{% endblock content%}
