{% extends "layout/base.j2" %}

{% block scripts %}
<script src="{{ static('js/marketplace.js') }}" type="text/javascript"></script>
<script type="text/javascript">populateCommandDeck();</script>
{% endblock scripts %}

{% block content %}
<div class="container mt-3">

    <div class="row">
        <div class="col">
            <p class="text-center">These are all responses that other people have made!</p>
            <p class="text-center">Since sharing is caring, there's a button on each response to quickly copy it to your server.</p>
        </div> <!-- col -->
    </div> <!-- row -->

    <div class="row">
        <div class="col">
            <div class="card-columns" id="commands-card-deck">
            </div><!-- card-columns-->
        </div> <!-- col -->
    </div> <!-- row -->

</div>
{% endblock content%}
